$box-text-color: #585858;

.productos-container {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 3%;
    grid-template-columns: 90%;

    .item-productos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .img-productos {
            grid-area: img-productos;
            width: 50%;
            margin: 2% 0 2% 0;
            padding: 1%;

        }
    }
}

.listado-productos {
    text-decoration: none;
    color: white;
    margin-bottom: 2%;

    .titulo-enlace-productos {
        grid-area: titulo-enlace-productos;
        background-color: $box-text-color;
        padding: 2%;
        width: 65%;
        border-radius: 10px;
        margin: 0 0 20% 17%;
    }
}

@media (min-width: 720px) {
    .productos-container {
        display: grid;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-top: 3%;
        grid-template-columns: 40% 40%;
    }

}


@media (min-width: 1024px) {
    .productos-container {
        display: grid;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-top: 3%;
        grid-template-columns: 20% 20% 20% 20%;
    }
    .img-productos{
        transition: ease-in;
    }

    .img-productos:hover {
        transform: scale(1.25);
        transition-duration: 0.3s;
    }

    .listado-productos{
        margin: 4% 0 0 0;
    }

}


