@mixin rounded-corners($radius: 15px) {
    border-radius: $radius;
  }

.titulo-pag-principal {
    display: flex;
    justify-content: center;

    .titulo-pag-principal-texto{
        margin: 2%;
    }
}

.listado-enlaces {
    text-decoration: none;
    color: white;

    .listado-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 4% 0;

        .img-inicio {
            width: 50%;
            margin: 5% 0 0 0;
        }
    }
}

.enlace-listado {
    text-decoration: none;
    background-color: rgb(88, 88, 88);
    @include rounded-corners(15px);
    padding: 0.5%;

    .titulo-enlace-producto-inicio1 {
        font-size: 0.8rem;
        @include rounded-corners(15px);
        color: white;
        padding: 10px;

    }
}

  @media (min-width: 730px) {
    .logo-inicio {
        width: 40%;
    }

    .logo-carrito-inicio {
        width: 9%;
        margin: 2% 3% 0 0;
    }

    .listado-enlaces {
        text-decoration: none;
        color: white;
    
        .listado-img {
            display: grid;
            grid-template-columns: 40% 40%;
            justify-content: center;
            align-items: center;
            justify-items: start;
            
    
            .img-inicio {
                width: 30%;
                margin: 5% 0 5% 60%;
            }
        }
    }

}

@media (min-width: 1024px){
    .logo-carrito-inicio {
        width: 7%;
        margin: 2% 6% 0 0;
    }


.img-inicio{
    transition: ease-in;
}

.img-inicio:hover {
    transform: scale(1.7) translatex(-60px);
    transition-duration: 0.3s;
    
}

.listado-productos{
    margin: 4% 0 0 0;
}


}