.nav-inicio {
    margin: 10px 1% 10px 1%;
    background-color: rgb(88, 88, 88);
    border-radius: 15px;
    padding: 2% 0 2% 0;

    .listado-nav {
        display: grid;
        grid-template-columns: 28% 28% 28%;
        justify-content: center;
        justify-items: center;
        padding: 1%;

        .listado {
            list-style: none;
            padding: 1%;

            .listado-enlaces {
                text-decoration: none;
                color: white;
            }
        }
    }

}

@media (min-width: 720px) {
    .nav-inicio {
        padding: 1% 0 1% 0;


        .listado-nav {
            display: grid;
            grid-template-columns: 18% 18% 18% 18% 18%;
            justify-items: center;

        }

    }
}

@media (min-width: 1024px) {
    .listado-enlaces {
        font-size: 1.5rem;
    }

}